@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}

<div id="main">
    <div class="section-title">
        <h2>Email Confirmation</h2>
    </div>
    <section>
        <div class="card card-compact">
            <div>
                <partial name="_StatusMessage" model="Model.StatusMessage" />
                <a class="btn btn-outline-info" href="~/">Return to Homepage</a>
                <a class="btn btn-outline-info" href="~/Identity/Account/Login">Login</a>
            </div>
        </div>
    </section>

    <div id="loadSection">
        <div class="section-title">
            <h2><span id="query">New</span> Articles</h2>
        </div>
        <div id="loadTarget"></div>
        <button id="loadButton" onclick="loadContent('New')" class="btn btn-outline-info w-100">Load More</button>
    </div>
</div>