@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<div class="section-title">
    <h2>Registration Confirmation</h2>
</div>
<section>
    <div class="card card-compact">
        <div>
            <p>Please check your email to confirm your account. The confirmation email may take a few minutes to send.</p>
            <a class="btn btn-outline-info" href="~/">Return to Homepage</a>
            <a class="btn btn-outline-info" href="~/Identity/Account/Login">Login</a>
        </div>
    </div>
</section>