
@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "ModTools";
}

<div class="section-title">
    <h2>Article Tools</h2>
</div>
<section>
    <div class="card">
        <div>
            <h2 class="text-danger">Archive All Articles</h2>
            <br />
            <div class="actions">
                <a class="btn btn-danger mx-1 clickable" onclick="confirmAction(this, 'api/v2/article/archive/all')">ARCHIVE ALL</a>
            </div>
        </div>
    </div>
</section>
<br />