@page
@model IndexModel

@using Microsoft.AspNetCore.Identity
@using Contra.Areas.Identity.Data
@inject UserManager<OpenTalonUser> UserManager

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="ml-2">
    <h2>@ViewData["Title"]</h2>
    <form id="profile-form" method="post">
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" disabled />
        </div>
        <div class="form-group">
            <label asp-for="Input.Name"></label>
            <input asp-for="Input.Name" class="form-control" />
        </div>
        <button id="update-profile-button" type="submit" class="btn btn-primary">Save</button>
    </form>
</div>

<div class="section-title">
    <h2>Your Recent Articles</h2>
</div>
<div class="neoload" data-amount="6" data-query="@UserManager.GetUserId(User)" data-type="block"></div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}