@model EarthsTimeline.Models.Article

@{
    ViewData["Title"] = "Edit";
}

<partial name="_SummernoteScriptsPartial" />

<div class="content">
    <div class="section-title">
        <h2>Edit Article (Admin)</h2>
    </div>
    <hr />
    <br />
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <section>
                <div>
                    <label class="control-label">MVLA Email ID (1000xxxxx)</label>
                    <input asp-for="AuthorId" class="form-control" />
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div>
                    <label class="control-label">Author Name(s)</label>
                    <input asp-for="AuthorName" class="form-control" maxlength="50" />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" maxlength="40" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </section>
        </div>
        <div class="form-group">
            <label class="control-label">Approved</label>
            <input asp-for="Approved" type="checkbox" />
            <span asp-validation-for="Approved" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Thumbnail URL</label>
            <input asp-for="ThumbnailURL" class="form-control" />
            <span asp-validation-for="ThumbnailURL" class="text-danger"></span>
            <p>Please provide a link to an image to use as a thumbnail.</p>
        </div>
        <div class="form-group">
            <label class="control-label">Publish Date</label>
            <input asp-for="Date" class="form-control" />
            <span asp-validation-for="Date" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Article Tags</label>
            <input asp-for="SummaryShort" class="form-control" />
            <p>Use tags like "News" or "Sports" to get indexed in our search function.</p>
            <span asp-validation-for="SummaryShort" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Summary</label>
            <input asp-for="SummaryLong" class="form-control" maxlength="60" />
            <p>A short summary of your article that will appear in search results and on the front page.</p>
            <span asp-validation-for="SummaryLong" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" id="summernote">Paste your article in here!</textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn btn-primary" />
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
