
@{
    ViewData["Title"] = "Login";
}

<div class="content">
    <div class="section-title">
        <h2>Login</h2>
    </div>
    <hr />
    <form asp-action="Login" method="post">
        <label class="control-label">The Magic Words</label>
        <input type="text" name="User" class="form-control" />
        <br />
        <button type="submit" class="btn btn-primary">Log in</button>
        <a href="~/" class="btn btn-outline-dark">Cancel</a>
    </form>
</div>
