<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OpenTalon</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="nav" class="solo-nav">
            <div>
                <a class="navbar-brand" href="~/"><img src="~/img/open-talon.svg" /></a>
                <button id="menu-button" onclick="showMenu()">Menu</button>
                <div id="links">
                    <div class="links">
                        <a class="nav-link" href="~/search/News">News</a>
                        <a class="nav-link" href="~/search/Sports">Sports</a>
                        <a class="nav-link" href="~/search/Editorial">Editorial</a>
                        <a class="nav-link" href="~/search/Opinion">Opinion</a>
                        <a class="nav-link" href="~/search/Arts">Arts & Culture</a>
                        <a class="nav-link" href="https://www.paypal.me/">Donate</a>
                        <a class="nav-link" href="~/apply">Submit an Article</a>
                    </div>
                    <div class="links float-right">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        &copy; 2019 - OpenTalon Project - <a href="~/about">About</a> - <a href="~/admin">Admin</a> - <a href="~/privacy">Privacy</a>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
