@model OpenTalon.Models.Article

@using Microsoft.AspNetCore.Identity
@using OpenTalon.Areas.Identity.Data
@inject SignInManager<OpenTalonUser> SignInManager
@inject UserManager<OpenTalonUser> UserManager

<div class="card card-compact">
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-action="Comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="PostId" value="@Model.Id" />
            <div class="form-group">
                <h4><b>Posting as: @UserManager.GetUserAsync(User).Result.Name</b></h4>
            </div>
            <div class="form-group">
                <input asp-for="Content" class="form-control" autocomplete="off" value="" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Submit Comment" class="btn btn-primary" />
            </div>
        </form>
    }
    else
    {
        <h2>Not Signed In</h2>
        <br />
        <div>
            <p>Register or login to an account to submit an article. This will allow you to track your submitted articles, edit them, and comment on articles.</p>
            <br />
            <section>
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info w-50 flex-fill mr-3">Register</a>
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-info w-50 flex-fill mr-3">Login</a>
            </section>
        </div>
    }
</div>