<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Contra encourages community discussion contribution and debate." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contra</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav id="nav">
            <div class="container">
                <a class="navbar-brand" href="~/"><img src="~/img/contra.png" alt="Home Button" /></a>
                <button id="menu-button" onclick="showMenu()">Menu</button>
                <div id="links">
                    <div class="links nav-search search">
                        <form asp-controller="Home" asp-action="Search">
                            <input name="filter" type="text" placeholder="Search articles" />
                            <button class="btn c-btn-primary" type="submit"><img src="~/img/search.png" /></button>
                        </form>
                    </div>
                    <div class="links float-right">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
            </div>
        </nav>
        <div class="header">
            <div id="border-gradient"></div>
        </div>
    </header>

    <div class="container">
        @RenderBody()
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2019 Contra -
            <a href="~/about">About</a> -
            <a href="~/feedback">Feedback</a> -
            <a href="~/privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
