::selection {
    background-color: #abc;
}

html {
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    position: relative;
    min-height: 100%;
}

body {
    background-color: #edeef3;
    margin-bottom: 60px;
}

nav {
    background-image: linear-gradient(#111, #000);
    height: 50px;
    line-height: 50px;
    position: relative;
    padding: 0 15px;
}

nav #links {
    display: none;
    flex-direction: column;
    flex: 1 1;
    align-items: center;
}

nav #menu-button {
    background-color: #000;
    border: solid 2px #fff;
    border-radius: 10px;
    color: #fff;
    float: right;
    padding: 0 24px;
    line-height: 40px;
    margin-top: 10px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

a.navbar-brand:hover {
    color: #edeef3;
}

a {
    color: #6daedb;
}

.header {
    background-color: #000;
    position: relative;
    top: -1px;
    z-index: -1;
    width: 100%;
    height: 150px;
}

.header img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}

#border-gradient {
    background-image: linear-gradient(#666, #edeef3);
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 10px;
}

.container {
    max-width: 100%;
    padding: 0;
}

.content {
    margin-bottom: 100px;
}

.section-title {
    margin: 20px;
    margin-top: 50px;
}

.section-title > h2 {
    font-size: 42px;
}

section {
    display: flex;
    flex-direction: column;
}

.card {
    border: none;
    border-radius: 20px;
    box-shadow: -10px 15px 5px #cacaca;
    flex: 2 1;
    min-height: 300px;
    margin: 15px;
    padding: 25px;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
}

.card > div img {
    position: unset !important;
    float: none !important;
    transform: none !important;
}

.note-editing-area img {
    position: unset !important;
    float: none !important;
    transform: none !important;
}

.story {
    cursor: pointer;
}

.story:hover {
    transform: translate(15px, -15px);
}

.story > div {
    width: 200px;
    height: 100%;
}

.card .image-container {
    position: absolute;
    top: 0;
    left: 220px;
    bottom: 0;
    min-width: 100%;
    max-height: 100%;
}

.card-big {
    flex: 3 1;
}

.card-big .image-container {
    left: 240px;
}

.card-encapsulate {
    color: #edeef3;
}

.card-encapsulate > div {
    backdrop-filter: blur(2px);
    z-index: 69;
    width: 200px;
    height: 100%;
}

.card-encapsulate .image-container {
    left: 0;
}

.encapsulate-big > div {
    width: 200px;
}

.card-search {
    min-height: 50px; 
}

.card-search > div {
    width: 100%;
}

.article .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-container img {
    top: 0;
    left: 0;
    min-width: 100%;
    max-width: 150%;
    min-height: 100%;
    max-height: unset;
}

.article > div {
    margin-top: 300px;
    font-size: 18px;
}

.banner {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: -10px 10px 5px #ddd;
    display: flex;
    align-items: center;
    height: 200px;
    margin: 15px;
    padding: 25px;
    flex: 1 1;
}

.banner img {
    flex: 1 1;
    height: 80%;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

form {
    width: 90%;
    margin: 20px;
}

form section div {
    width: 100%;
    margin-right: 20px;
}

form section div:last-of-type {
    margin-right: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

@media (min-width: 512px) {
    .container {
        max-width: 80%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .header {
        height: 200px;
    }
    .section-title {
        margin-top: 70px;
    }
    #border-gradient {
        top: 200px;
    }
    section {
        flex-direction: row;
    }
}

@media (min-width: 1000px) {
    nav #menu-button {
        display: none;
    }
    nav #links {
        display: inline-flex;
        flex-direction: row;
    }
    nav #links a {
        float: right;
    }
    .container {
        max-width: 900px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }
}