@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="section-title ml-0">
        <h2>Manage your account</h2>
    </div>
    <br />
    <div>
        <h4>Change your account settings</h4>
        <hr />
        <section>
            <div class="flex-small m-1">
                <partial name="_ManageNav" />
            </div>
            <div class="flex-big m-1">
                @RenderBody()
            </div>
        </section>
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
