@model Contra.Models.Article

@using Microsoft.AspNetCore.Identity
@using Contra.Areas.Identity.Data
@inject SignInManager<ContraUser> SignInManager
@inject UserManager<ContraUser> UserManager

@{
    ViewData["Title"] = "Submit";
    ViewData["Description"] = "Submit a post on Contra.";
}

<div class="section-title">
    <h2>Submit an Article</h2>
    @if (User.IsInRole("Staff"))
    {
        <span class="secondary-info"><img src="~/img/supericon.png" alt="Superuser" /> - Your item will be published immediately.</span>
    }
</div>
<br />
<section id="submit-data" data-steps="3">
    <div class="card">
        <div>
            <form enctype="multipart/form-data" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div id="step-1">
                    <h2>Article Info (Step 1)</h2>
                    <br />
                    <div class="form-group">
                        <label class="control-label">Posting as:</label>
                        <p><b>@UserManager.GetUserAsync(User).Result.Name (@UserManager.GetUserAsync(User).Result.Email)</b></p>
                    </div>
                    <div class="form-group">
                        <label for="toggle-coauthors" class="toggle">
                            Add Coauthors
                            <input type="checkbox" id="toggle-coauthors" onclick="toggleGroup(this, 'coauthors')">
                            <span class="checkmark"></span>
                        </label>
                    </div>
                    <br />
                    <div id="inputGroup-coauthors" class="form-group hidden">
                        <label asp-for="AuthorName" class="control-label">Co-Author Names</label>
                        <input id="input-coauthors" asp-for="AuthorName" class="form-control" maxlength="50" placeholder="Ex) Sei, Armitage, Dana" />
                        <span asp-validation-for="AuthorName" class="text-danger"></span>
                        <br />
                    </div>
                    <div class="form-group">
                        <label for="input-title" class="control-label">Article Title</label>
                        <input id="input-title" asp-for="Title" class="form-control" maxlength="60" placeholder="Article Title" />
                        <span asp-validation-for="Title" class="text-danger"></span>
                    </div>
                    <br />
                    <div class="form-group">
                        <label for="input-img" class="control-label">Thumbnail Image (2MB PNG/JPG)</label>
                        <input id="input-img" name="thumbnail" type="file" class="form-control form-control-file" />
                    </div>
                    <br />
                    <div class="form-group">
                        <label class="control-label">Article Options</label>
                        <section>
                            <label for="spoiler" asp-for="Spoiler" class="toggle">
                                Spoiler Content
                                <input type="checkbox" id="spoiler" asp-for="Spoiler">
                                <span class="checkmark"></span>
                            </label>
                            <label for="sensitive" asp-for="Sensitive" class="toggle">
                                Sensitive Content
                                <input type="checkbox" id="sensitive" asp-for="Sensitive" onclick="toggleGroup(this, 'sensitiveContent')">
                                <span class="checkmark"></span>
                            </label>
                            <label for="anonymous" asp-for="Anonymous" class="toggle">
                                Post Anonymously
                                <input type="checkbox" id="anonymous" asp-for="Anonymous" onclick="toggleGroup(this, 'anonymous')">
                                <span class="checkmark"></span>
                            </label>
                        </section>
                        <br />
                        <div id="inputGroup-sensitiveContent" class="form-group hidden">
                            <p class="content-notice">Please note if you write about a sensitive topic, we follow the same legal guidelines that the school does.</p>
                        </div>
                        <div id="inputGroup-anonymous" class="form-group hidden">
                            <p class="content-notice">When posting anonymously, the administrative team can still see your identity. Your anonymity is not guaranteed.</p>
                        </div>
                    </div>
                </div>
                <div id="step-2" class="hidden">
                    <h2>Content (Step 2)</h2>
                    <br />
                    <div class="form-group">
                        <label asp-for="Content" class="control-label"></label>
                        <textarea asp-for="Content" class="summernote"></textarea>
                        <span asp-validation-for="Content" class="text-danger"></span>
                    </div>
                </div>
                <div id="step-3" class="hidden">
                    <h2>Review &amp; Submit (Step 3)</h2>
                    <p>Please look over the article preview below to make sure everything is A-OK, then submit.</p>
                    <br />
                    <div class="form-group">
                        <input type="submit" value="Submit Article" class="btn c-btn-info" />
                        <a href="~/submit">
                            <input type="button" value="Cancel" class="btn c-btn-outline-info" />
                        </a>
                        <p class="mt-1">By submitting an article, you agree to our <a href="~/privacy">Terms of Service and Privacy Policy</a>.</p>
                    </div>
                </div>
                <br />
            </form>
            <div id="submit-controls">
                <button id="prevButton" class="btn btn-outline-dark disabled" onclick="submitUndoStep()">Previous Step</button>
                <button id="nextButton" class="btn btn-outline-info" onclick="submitNextStep()">Next Step</button>
            </div>
        </div>
    </div>
</section>
<section id="preview" class="hidden">
    <div class="card article">
        <div class="image-container">
            <img id="thumbnail-img" src="/img/img05.jpg" alt="Article Preview Image" />
            <div class="secondary-info">
                <p>Views: 0</p>
                <span class="social-links">
                    <img src="~/img/twitter.svg" alt="Share on Twitter" />
                    <img src="~/img/facebook.svg" alt="Share on Facebook" />
                    <img src="~/img/discuss.svg" alt="Discuss Here" />
                </span>
            </div>
        </div>
        <div class="content">
            <h2 id="title">Title</h2>
            <p>
                @UserManager.GetUserAsync(User).Result.Name<span id="coauthors"></span> - @DateTime.Now.ToShortDateString()
            </p>
            <br />
            <span id="preview-content"></span>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_SummernoteScriptsPartial" />
    <script src="~/js/submit.js" asp-append-version="true"></script>
}