@model Contra.Models.Article

@{
    ViewData["Title"] = "Edit";
    Layout = "_AdminLayout";
}

<div class="section-title">
    <h2>Edit Article</h2>
</div>
<hr />
<br />
<form asp-action="Edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <section>
            <div class="flex-grow-1">
                <label class="control-label">OwnerID</label>
                <input asp-for="OwnerID" class="form-control" />
                <span asp-validation-for="OwnerID" class="text-danger"></span>
            </div>
            <div class="flex-grow-1">
                <label class="control-label">Author Name(s)</label>
                <input asp-for="AuthorName" class="form-control" maxlength="50" />
                <span asp-validation-for="AuthorName" class="text-danger"></span>
            </div>
            <div class="flex-grow-1">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" maxlength="60" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
        </section>
    </div>
    <div class="form-group">
        <section>
            <div class="flex-grow-1">
                <label class="control-label">Article Type</label>
                <input asp-for="ArticleType" class="form-control" />
                <span asp-validation-for="ArticleType" class="text-danger"></span>
            </div>
            <div class="flex-grow-1">
                <label class="control-label">Approved</label>
                <input asp-for="Approved" class="form-control" />
                <span asp-validation-for="Approved" class="text-danger"></span>
            </div>
            <div class="flex-grow-1">
                <label class="control-label">Views</label>
                <input asp-for="Views" class="form-control" />
                <span asp-validation-for="Views" class="text-danger"></span>
            </div>
            <div class="flex-grow-1">
                <label class="control-label">ResponseId</label>
                <input asp-for="ResponseId" class="form-control" />
                <span asp-validation-for="ResponseId" class="text-danger"></span>
            </div>
        </section>
    </div>
    <div class="form-group">
        <section>
            <div class="flex-grow-1">
                <label class="control-label">Archived</label>
                <input asp-for="IsArchived" class="form-control" />
                <span asp-validation-for="IsArchived" class="text-danger"></span>
            </div>
            <div class="flex-grow-1">
                <label class="control-label">Editorial</label>
                <input asp-for="IsEditorial" class="form-control" />
                <span asp-validation-for="IsEditorial" class="text-danger"></span>
            </div>
            <div class="flex-grow-1">
                <label class="control-label">Pinned</label>
                <input asp-for="IsPinned" class="form-control" />
                <span asp-validation-for="IsPinned" class="text-danger"></span>
            </div>
            <div class="flex-grow-1">
                <label class="control-label">Sensitive</label>
                <input asp-for="Sensitive" class="form-control" />
                <span asp-validation-for="Sensitive" class="text-danger"></span>
            </div>
            <div class="flex-grow-1">
                <label class="control-label">Spoiler</label>
                <input asp-for="Spoiler" class="form-control" />
                <span asp-validation-for="Spoiler" class="text-danger"></span>
            </div>
            <div class="flex-grow-1">
                <label class="control-label">Anonymous</label>
                <input asp-for="Anonymous" class="form-control" />
                <span asp-validation-for="Anonymous" class="text-danger"></span>
            </div>
        </section>
    </div>
    <div class="form-group">
        <label class="control-label">Thumbnail URL</label>
        <input asp-for="ThumbnailURL" class="form-control" />
        <span asp-validation-for="ThumbnailURL" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Publish Date</label>
        <input asp-for="Date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Article Tags</label>
        <input asp-for="Tags" class="form-control" />
        <span asp-validation-for="Tags" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label class="control-label">Summary</label>
        <input asp-for="SummaryLong" class="form-control" maxlength="60" />
        <span asp-validation-for="SummaryLong" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Content" class="control-label"></label>
        <textarea asp-for="Content" class="summernote"></textarea>
        <span asp-validation-for="Content" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Save Changes" class="btn btn-primary" />
    </div>
</form>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_SummernoteScriptsPartial" />
}
