@model IEnumerable<OpenTalonUser>

@using Microsoft.AspNetCore.Identity
@using OpenTalon.Areas.Identity.Data
@inject UserManager<OpenTalonUser> UserManager

@{
    ViewData["Title"] = "Users";
    Layout = "_AdminLayout";
}

<div class="content">
    <div class="section-title">
        <h2>@ViewData["Message"]</h2>
    </div>
    <br />
    @foreach (OpenTalonUser user in Model)
    {
        var roles = UserManager.GetRolesAsync(user).Result;
        <section>
            <div class="card card-big card-compact">
                <div>
                    <h5>@user.Name - @user.Email</h5>
                    <p>Id: @user.Id</p>
                    @if (roles.Count > 0)
                    {
                        <p>Roles: @foreach (string r in (IList<string>)roles)
                        {<span>@r </span>}</p>
                    }
                </div>
            </div>
        </section>
    }
</div>