
.fullscreen {
    position: absolute;
    top: 50px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.dashboard-header {
    display: none;
    margin: 15px;
    margin-left: 30px;
}

.dashboard-controls {
    background-color: #f5f6f8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    overflow: auto;
}

.dashboard-controls a {
    background-color: #f0f1f5;
    border-bottom: 1px solid #ddd;
    color: #555;
    padding: 15px;
    transition-duration: 0.2s;
}

.dashboard-controls a:hover {
    background-color: #ddd;
    padding-left: 20px;
}

.dashboard-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;
    padding: 0;
    overflow: auto;
    transition-duration: 0.3s;
}

.hideable {
    display: none;
}

.card-user {
    display: flex;
    flex-direction: column;
}

.user-info {
    flex: 3 1;
}

.user-controls {
    display: flex;
    flex-direction: row;
    flex: 1 1;
}

.user-controls .nav-link {
    padding-left: 0;
}

.role-container {
    background-image: linear-gradient(to right, #eee, #ddd);
    border-radius: 10px;
    padding: 0.2rem 0.5rem;
    margin: 0.3rem 0;
    width: 300px;
}

.role {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.role input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.role:hover input ~ .checkmark {
    background-color: #ccc;
}

.role input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.role input:checked ~ .checkmark:after {
    display: block;
}

.role .checkmark:after {
    left: 10px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

@media (min-width: 768px) {
    .dashboard-header {
        display: unset;
    }
    .dashboard-controls {
        width: 200px;
    }
    .dashboard-controls a {
        padding-left: 30px;
    }
    .dashboard-controls a:hover {
        padding-left: 40px;
    }
    .dashboard-content {
        left: 200px;
        padding: 0 20px;
    }
    .hideable {
        display: inline-block;
    }
    .card-user {
        flex-direction: row;
    }
    .user-controls {
        flex-direction: column;
    }
}

@media (min-width: 1000px) {
    .dashboard-controls {
        width: 300px;
    }
    .dashboard-content {
        left: 300px;
        padding: 0 50px;
    }
}