
.fullscreen {
    position: absolute;
    top: 50px;
    bottom: 60px;
    left: 0;
    right: 0;
}

.dashboard-header {
    display: none;
    margin: 15px;
    margin-left: 30px;
}

.dashboard-controls {
    background-color: #f5f6f8;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    overflow: auto;
}

.dashboard-controls a {
    background-color: #f0f1f5;
    border-bottom: 1px solid #ddd;
    color: #555;
    padding: 15px;
    transition-duration: 0.2s;
}

.dashboard-controls a:hover {
    background-color: #ddd;
    padding-left: 20px;
}

.dashboard-content {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50px;
    right: 0;
    padding: 0;
    overflow: auto;
}

.hideable {
    display: none;
}

.card-user {
    display: flex;
    flex-direction: column;
}

.user-info {
    flex: 3 1;
}

.user-controls {
    display: flex;
    flex-direction: row;
    flex: 1 1;
}

.user-role-editor {
    display: none;
    flex: 1 1;
}

@media (min-width: 768px) {
    .dashboard-header {
        display: unset;
    }
    .dashboard-controls {
        width: 200px;
    }
    .dashboard-controls a {
        padding-left: 30px;
    }
    .dashboard-controls a:hover {
        padding-left: 40px;
    }
    .dashboard-content {
        left: 200px;
        padding: 0 20px;
    }
    .hideable {
        display: inline-block;
    }
    .card-user {
        flex-direction: row;
    }
    .user-controls {
        flex-direction: column;
    }
}

@media (min-width: 1000px) {
    .dashboard-controls {
        width: 300px;
    }
    .dashboard-content {
        left: 300px;
        padding: 0 50px;
    }
}