::selection {
    background-color: #abc;
}

html {
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: #edeef3;
    margin-bottom: 60px;
}

nav {
    background-color: #fff;
    height: 50px;
    line-height: 50px;
    position: relative;
    padding: 0 15px;
}

nav #links {
    background-color: #fff;
    display: none;
    flex-direction: column;
    flex: 1 1;
    align-items: center;
}

nav .links {
    flex-direction: column;
    flex: 1 1;
    align-items: center;
    min-width: 200px;
}

nav .links a {
    color: #555;
    margin: 0;
    padding: 0.2rem 1rem;
}

nav .links a:hover {
    color: #6daedb;
}

.nav-link button {
    padding-left: 0;
}

nav #menu-button {
    background-color: inherit;
    border: solid 2px #6bd;
    border-radius: 10px;
    color: #6bd;
    float: right;
    padding: 0 24px;
    line-height: 40px;
    margin-top: 10px;
}

.solo-nav {
    z-index: 7;
}

.solo-nav .links:first-of-type {
    line-height: 50px;
}

.solo-nav img {
    vertical-align: unset;
}

.solo-nav #menu-button {
    line-height: 30px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    height: 100%;
}

a.navbar-brand:hover {
    color: #edeef3;
}

a.navbar-brand img {
    height: 40px;
}

a {
    transition-duration: 0.2s;
}

.clickable {
    cursor: pointer;
}

.hideable {
    display: none;
}

.header {
    background-color: #fff;
    position: relative;
    top: -1px;
    z-index: -1;
    width: 100%;
    height: 100px;
}

.header img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 80%;
    max-width: 100%;
    margin: auto;
}

#border-gradient {
    background-image: linear-gradient(#fff, #edeef3);
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    z-index: -1;
    height: 10px;
}

.container {
    position: relative;
    max-width: 100%;
    padding: 0;
}

.content {
    margin-bottom: 100px;
}

#main {
    flex: 1 1;
}

#extras {
    display: none;
    width: 360px;
}

#extras .section-title {
    margin-bottom: 0;
}

#extras section {
    flex-direction: column;
}

#extras .card {
    padding: 20px;
}

.flex-big {
    flex: 3 1 !important;
}

.flex-small {
    flex: 1 1 !important;
}

.section-title {
    margin: 10px;
    margin-top: 30px;
}

.section-title > h2 {
    font-size: 42px;
}

.filters {
    margin-top: 20px;
}

.filter-group {
    display: flex;
    margin: 10px 0;
    flex: 1 1;
}

.filter-group h5 {
    line-height: 35px;
    width: 80px;
}

.filter-group .btn {
    border-radius: 0;
    margin: 0;
    flex: 1 1;
}

.filter-group .btn:first-of-type, .search input {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filter-group .btn:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search form {
    display: inline-flex;
    flex: 2 1;
}

.search input {
    border: none;
    padding-left: 10px;
    flex: 3 1;
}

.search .btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    flex: 1 1;
}

section {
    display: flex;
    flex-direction: column;
}

.card {
    border: none;
    border-radius: 10px;
    box-shadow: -6px 6px 5px #ddd;
    flex: 2 1;
    min-height: 300px;
    margin: 10px;
    padding: 25px;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
}

.note-editor > div img, .card > div img {
    position: unset !important;
    transform: none !important;
}

.story {
    cursor: pointer;
    padding: 0;
}

.story:hover {
    box-shadow: -10px 10px 5px #bbb;
    transform: translate(4px, -4px);
}

.story > div {
    width: 200px;
    height: 100%;
    padding: 25px;
}

.card .image-container {
    position: absolute;
    top: 0;
    left: 220px;
    bottom: 0;
    min-width: 100%;
    max-height: 100%;
}

.card-big {
    flex: 3 1;
}

.card-big .image-container {
    left: 240px;
}

.card-encapsulate {
    color: #edeef3;
}

.card-encapsulate > div {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(2px);
    z-index: 5;
    width: 200px;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.card-encapsulate .image-container {
    left: 0;
}

.encapsulate-big > div, .card-big > div {
    width: 240px;
}

.card-search, .card-compact {
    min-height: 50px; 
    padding: 20px;
}

.card-search > div {
    width: 50%;
}

.card-search .image-container {
    left: 60%;
    min-width: 50%;
}

.card-profile > div {
    width: 100%;
}

.comment {
    box-shadow: none;
}

.article .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 300px;
    overflow: hidden;
}

.image-container img {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.article {
    padding: 20px;
}

.article > div {
    margin-top: 300px;
    font-size: 18px;
}

.article-preview {
    flex: 1 1;
}

.article-preview .card {
    margin: 0;
    margin-bottom: 10px;
}

.submit {
    flex-direction: column;
    padding: 0;
    margin: 10px;
}

.submit h2 {
    margin: 15px;
}

.submit form h2 {
    margin-left: 0;
}

#step-2, #step-3 {
    display: none;
}

.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    flex: 1 1;
}

.banner img {
    width: 50%;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.social-links {
    display: inline-flex;
    flex: 1 1;
}

.social-links img {
    display: inline-block;
    width: 35px;
    padding: 0.3rem;
    padding-left: 0;
    margin-right: 0.3rem;
}

.submit-form {
    flex: 1 1;
}

.submit-form form {
    width: 95%;
    margin: auto;
}

form section div:last-of-type {
    margin-right: 0;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 20px;
  right: 20px;
  white-space: nowrap;
  line-height: 30px;
}

@media (min-width: 512px) {
    .header {
        height: 150px;
    }
    #border-gradient {
        top: 150px;
    }
    .container {
        max-width: 98%;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    .hideable {
        display: inline-block;
    }
    .section-title {
        margin-top: 50px;
    }
    section {
        flex-direction: row;
    }
    .flex-wrap {
        justify-content: center;
    }
    .flex-wrap .card {
        flex: none;
        width: 45%;
    }
    .card-compact {
        padding: 25px;
    }
    .article > div {
        padding: 1rem 2rem;
    }
    .footer {
        line-height: 60px;
    }
}

@media (min-width: 1000px) {
    .solo-nav .links .nav-link {
        padding: 0 1rem;
    }
    .filters {
        display: flex;
        flex-wrap: wrap;
    }
    .filter-group {
        flex: none;
        width: 50%;
    }
    .filter-group h5 {
        margin: 0 1rem;
        width: unset;
    }
    .filter-group:first-of-type h5 {
        margin-left: 0;
    }
    .filter-group:last-of-type h5 {
        margin-left: 0;
    }
    .search {
        width: 100%;
    }
    .header {
        height: 200px;
    }
    #border-gradient {
        top: 200px;
    }
    #extras {
        display: flex;
        flex-direction: column;
    }
    .flex-wrap .card {
        flex: none;
        width: 31%;
    }
}

@media (min-width: 1200px) {
    nav #menu-button {
        display: none;
    }
    nav #links {
        position: absolute;
        display: inline-block;
        left: 130px;
        right: 0;
    }
    nav .links {
        display: inline-flex;
        flex-direction: row;
    }
    nav .links a {
        float: right;
    padding: 0.5rem 1rem;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1400px;
    }
    .filters {
        flex-wrap: nowrap;
    }
    .filter-group {
        flex: 1 1;
        width: unset;
    }
    .filter-group:last-of-type h5 {
        margin-left: 1rem;
    }
    .search {
        flex: 2 1;
    }
}