
@{
    ViewData["Title"] = "About";
}

<div class="content">
    <div class="section-title">
        <h2>About Us</h2>
    </div>
    <section>
        <div class="card card-big">
            <div>
                <h2>Promoting Ideas</h2>
                <p>Timeline's primary goal is to promote the sharing and discussion of ideas, under the safety net of a moderated medium. That means <a href="~/apply">student submitted articles</a>, commenting, and more. We provide a flexible platform for students to share their views on current events in local and global areas.</p>
                <h2>#NotTheTalon</h2>
                <p>The school is currently dominated by two news organizations that have restrictive application processes and excessive time commitment requirements. We don't believe in that. We want everyone to voice their opinion, not just some team churning out one article every week. Not to mention - The Talon's website is an absolute nightmare. Seriously - their main, front and center logo is pixellated. Not sure how much we expected of them, though.</p>
            </div>
        </div>
        <div class="card card-encapsulate encapsulate-big">
            <span class="image-container"><img src="../img/img02.png" /></span>
            <div>
                <h2>SDBagel (Kyle Lu)</h2>
                <p>Hey there! I'm the full-stack developer who made this entire site in just <i>three days</i>. I made this website to show the Talon's webmasters who's boss.</p>
                <p>Since I made the site, I get to self-promote on it! Yay! I do freelance web design for incredibly reasonable fees (like, 30% what an actual freelancer would charge).</p>
                <p><a href="mailto:sdbagel@outlook.com">Email me!</a></p>
            </div>
        </div>
    </section>
    <div class="section-title">
        <h2>Meet The Staff</h2>
    </div>
    <section>
        <div class="card card-encapsulate">
            <span class="image-container"><img src="../img/img04.png" /></span>
            <div>
                <h2>Richard Colgrove</h2>
                <p>This guy doesn't have a bio yet!</p>
            </div>
        </div>
        <div class="card card-encapsulate">
            <span class="image-container"><img src="../img/img03.png" /></span>
            <div>
                <h2>Anand Mehta</h2>
                <p>This guy doesn't have a bio yet!</p>
            </div>
        </div>
    </section>
</div>
