
@{
    ViewData["Title"] = "About";
}

<div class="content">
    <div class="section-title">
        <h2>About Us</h2>
    </div>
    <section>
        <div class="card card-big">
            <div>
                <h2>Promoting Ideas</h2>
                <p>Timeline's primary goal is to promote the sharing and discussion of ideas, under the safety net of a moderated medium. That means <a href="~/apply">student submitted articles</a>, commenting, and more. We provide a flexible platform for students to share their views on current events in local and global areas.</p>
            </div>
        </div>
        <div class="card card-encapsulate encapsulate-big">
            <span class="image-container"><img src="../img/img02.png" /></span>
            <div>
                <h2>SDBagel (Kyle)</h2>
                <p><> with ❤🧡💛💚💙💜.</p>
                <p>I do freelance web design for incredibly reasonable fees.</p>
                <p><a href="mailto:sdbagel@outlook.com">Email me!</a></p>
            </div>
        </div>
    </section>
    <div class="section-title">
        <h2>Meet The Staff</h2>
    </div>
    <section>
        <div class="card card-encapsulate">
            <span class="image-container"><img src="../img/img04.png" /></span>
            <div>
                <h2>Richard Colgrove</h2>
                <p>This guy doesn't have a bio yet!</p>
            </div>
        </div>
        <div class="card card-encapsulate">
            <span class="image-container"><img src="../img/img03.png" /></span>
            <div>
                <h2>Anand Mehta</h2>
                <p>This guy doesn't have a bio yet!</p>
            </div>
        </div>
    </section>
</div>
