@{
    ViewData["Title"] = "Home";
}

<div class="header">
    <div class="container">
        <img src="../img/banner.svg" />
    </div>
</div>
<div id="border-gradient"></div>

<div class="content">
    <div class="section-title">
        <h2>Trending Now</h2>
    </div>
    <section>
        <div class="card card-big">
            <img src="../img/banner.svg" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
        <div class="card card-encapsulate">
            <img src="../img/banner.svg" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
    </section>
    <section>
        <div class="card card-encapsulate">
            <img src="../img/banner.svg" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
        <div class="card card-big">
            <img src="../img/banner.svg" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
    </section>
    <div class="section-title">
        <h2>Support Student Journalism</h2>
    </div>
    <section>
        <div class="banner">
            <h2>Donate Now or Maybe Later</h2>
        </div>
    </section>
    <div class="section-title">
        <h2>Editorials</h2>
    </div>
    <section>
        <div class="card card-big card-encapsulate">
            <img src="../img/banner.svg" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
        <div class="card">
            <img src="../img/banner.svg" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
    </section>
</div>