@{
    ViewData["Title"] = "Home";
}

<div class="header">
</div>
<div id="border-gradient"></div>

<div class="content">
    <div class="section-title">
        <h2>Trending Now</h2>
    </div>
    <section>
        <div class="card card-big">
            <h2>Card Title</h2>
            <p>Card Text</p>
        </div>
        <div class="card">
            <h2>Card Title</h2>
            <p>Card Text</p>
        </div>
    </section>
    <section>
        <div class="card">
            <h2>Card Title</h2>
            <p>Card Text</p>
        </div>
        <div class="card card-big">
            <h2>Card Title</h2>
            <p>Card Text</p>
        </div>
    </section>
    <div class="section-title">
        <h2>Support Student Journalism</h2>
    </div>
    <section>
        <div class="banner">
            <h2>Donate Now or Maybe Later</h2>
        </div>
    </section>
</div>