@{
    ViewData["Title"] = "Home";
}

<div class="content">
    <div class="section-title">
        <h2>Trending Now</h2>
    </div>
    <section>
        <div class="card card-big story">
            <img src="../img/img01.png" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
        <div class="card card-encapsulate story">
            <img src="../img/img02.png" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
    </section>
    <section>
        <div class="card card-encapsulate story">
            <img src="../img/img03.png" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
        <div class="card card-big story">
            <img src="../img/img04.png" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
    </section>
    <div class="section-title">
        <h2>Support Student Journalism</h2>
    </div>
    <section>
        <div class="banner">
            <img src="~/img/paypal.svg" />
        </div>
    </section>
    <div class="section-title">
        <h2>Editorials</h2>
    </div>
    <section>
        <div class="card card-big card-encapsulate story">
            <img src="../img/img01.png" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
        <div class="card story">
            <img src="../img/img03.png" />
            <div>
                <h2>Card Title</h2>
                <p>Card Text</p>
            </div>
        </div>
    </section>
</div>