@{
    ViewData["Title"] = "Privacy";
}

<div class="content container">
    <div class="section-title">
        <h2>Privacy Policy</h2>
    </div>
    <section>
        <div class="card card-big">
            <div>
                <h2>Data We Take</h2>
                <p>Timeline and its affiliates monitor visitation statistics on this site. However, no information is sent that could potentially identify the end user. Only anonymized history is processed by Timeline and its affiliates to better improve our services.</p>
            </div>
        </div>
        <div class="card card-encapsulate">
            <img src="../img/img02.png" />
            <div>
                <h2>Terms of Service</h2>
                <p>By accessing this site, you agree that anonymized browsing info and other statistics may be sent to help us improve our services.</p>
            </div>
        </div>
    </section>
    <div class="section-title">
        <h2>Info in Submitted Articles</h2>
    </div>
    <section>
        <div class="card card-encapsulate">
            <img src="../img/img04.png" />
            <div>
                <h2>Personal Info</h2>
                <p>Submitted articles may be made public. Any personal info will be removed beforehand, no matter the context.</p>
            </div>
        </div>
        <div class="card card-big">
            <div>
                <h2>Submitted Articles</h2>
                <p>Users may submit their own entries of writing to Timeline, where it will be reviewed for appropriateness and potentially made publically accessible on this site. To submit an entry, a user must provide their name and MVLA email address, which will be logged for administrative purposes.</p>
            </div>
        </div>
    </section>
</div>