
@{
    ViewData["Title"] = "Not Found";
}

<div id="main">
    <div class="section-title">
        <h2>Item Not Found</h2>
    </div>
    <section>
        <div class="card card-compact">
            <div>
                <h2>Whoops!</h2>
                <p>Looks like we couldn't find the thing you wanted. Meanwhile, check out some of our other articles!</p>
                <a class="btn btn-outline-info" href="~/">Return to Homepage</a>
                <a class="btn btn-outline-info" href="~/apply">Submit an Article</a>
            </div>
        </div>
    </section>
    
    <div class="neoload" data-amount="6" data-query="new" data-type="block">
        <div class="section-title">
            <h2>New Articles</h2>
        </div>
    </div>
</div>