
@{
    ViewData["Title"] = "Success";
}

<div id="main">
    <div class="section-title">
        <h2>Submission Success</h2>
    </div>
    <section>
        <div class="card card-compact">
            <div>
                <h2>Item successfully submitted.</h2>
                @if (User.IsInRole("Staff"))
                {
                    <p><span class="secondary-info pl-0"><img src="~/img/superuser.png" alt="Superuser" /> - Your item has been published.</span></p>
                }
                else
                {
                    <p>Congratulations! Your item has been successfully submitted and will be reviewed by our staff before being published. While you wait, why not check out one of our other articles?</p>
                }
                <a class="btn btn-outline-info" href="~/">Return to Homepage</a>
            </div>
        </div>
    </section>
    
    <div class="section-title">
        <h2>New Articles</h2>
    </div>
    <div class="neoload" data-amount="6" data-query="new" data-type="block"></div>
</div>