@{
    ViewData["Title"] = "Privacy";
}

<div class="section-title">
    <h2>Privacy Policy</h2>
</div>
<section>
    <div class="card card-big">
        <div>
            <h2>Data We Take</h2>
            <p>Contra does not utilize any third party trackers or services to intentially gain data from users. Very basic information is taken about users, including visitation statistics, email address, and activity on the site. Your email address is never shared or made public and is used only for account-related emails.</p>
            <h2>Third Parties</h2>
            <p>Currently, Contra does not host article thumbnails and user profile pictures on databases owned by us, instead opting to let users provide a url linking to a third party service. These links are not managed by us. We're looking into first-party data hosting solutions.</p>
        </div>
    </div>
    <div class="card card-encapsulate">
        <span class="image-container"><img src="../img/img02.jpg" /></span>
        <div>
            <h2>Terms of Service</h2>
            <p>By accessing this site, you agree that info and statistics may be sent to help us improve our services. We reserve the right to take any action regarding our services at any time, without notice.</p>
        </div>
    </div>
</section>
<div class="section-title">
    <h2>Info in Submitted Items</h2>
</div>
<section>
    <div class="card card-encapsulate">
        <span class="image-container"><img src="../img/img04.jpg" /></span>
        <div>
            <h2>Personal Info</h2>
            <p>Submitted articles may be made public. Personal information of any kind (including email addresses, names without consent) should be excluded from submissions. If a submission contains personal information, it may be rejected.</p>
        </div>
    </div>
    <div class="card card-big">
        <div>
            <h2>Submitted Articles</h2>
            <p>Users may submit their own entries of writing to Contra, where it will be reviewed for appropriateness and potentially made publically accessible on this site. To submit an entry, a user must be logged in with a verified account. We reserve the right to remove articles in light of false information, corrective action, or user suspention without notice.</p>
            <h2>Comments</h2>
            <p>Users may also submit comments to individual articles. These are also reviewed before being made public by our administrative team, and the same policies apply.</p>
        </div>
    </div>
</section>