@{
    ViewData["Title"] = "Privacy";
}

<div class="section-title">
    <h2>Privacy Policy</h2>
</div>
<section>
    <div class="card card-big">
        <div>
            <h2>Data We Take</h2>
            <p>Contra does not utilize any third party trackers or services to intentionally gain data from users. Basic information is taken about users, including visitation statistics, email address, and activity on the site. Your email address is never shared or made public and is used only for account-related emails. We cannot see your password.</p>
            <h2>Third Parties</h2>
            <p>Contra does not host profile pictures first-party. This may result public profile pictures requesting resources from third party Content Delivery Networks. Public user profiles are not implemented and as such this does not pose a major risk, but is still disclosed.</p>
        </div>
    </div>
    <div class="card card-encapsulate">
        <span class="image-container"><img src="../img/img02.jpg" /></span>
        <div>
            <h2>Terms of Service</h2>
            <p>By accessing this site, you agree that info and statistics may be sent to help us improve our services. We reserve the right to take any action regarding our services at any time, without notice.</p>
        </div>
    </div>
</section>
<div class="section-title">
    <h2>User Accounts</h2>
</div>
<section>
    <div class="card">
        <div>
            <h2>User Accounts</h2>
            <p>Contra reserves the right to ban or remove individual users without warning or notice, for any reason, at any time. This is in an effort to quell abuse of the service. This can happen for any number of reasons, including: Impersonation, offensive usernames, non-professional behaviour, or abuse of Contra.</p>
        </div>
    </div>
    <div class="card card-big">
        <div>
            <h2>Responsible Disclosure and Reporting</h2>
            <p>With justified reasoning and evidence, Contra may present users to appropriate authorities in cases of repeated abuse. When a user makes an account, presuming they are under appropriate jurisdiction, Contra may pass this judgement on any punitive actions.</p>
        </div>
    </div>
</section>
<div class="section-title">
    <h2>Info in Submitted Items</h2>
</div>
<section>
    <div class="card card-encapsulate">
        <span class="image-container"><img src="../img/img04.jpg" /></span>
        <div>
            <h2>Personal Info</h2>
            <p>Submitted articles may be made public. Personal information of any kind (including email addresses, names without consent) should be excluded from submissions. If a submission contains personal information regarding the poster or another, it may be rejected. Exceptions may be made.</p>
        </div>
    </div>
    <div class="card card-big">
        <div>
            <h2>Submitted Items</h2>
            <p>Users may submit their own entries of writing to Contra, where it will be reviewed for appropriateness and potentially made publically accessible on this site. To submit an entry, a user must be logged in with a verified account. We reserve the right to remove articles in light of false information, corrective action, or user suspention without notice.</p>
        </div>
    </div>
</section>