
@{
    Layout = "_LightLayout";
    ViewData["Title"] = "Reconstructing";
    ViewData["Description"] = "We're changing things up. Stay tuned.";
}

<div class="page-center">
    <div class="outer-circle"></div>
    <div class="content">
        <h1>We're preparing for launch!</h1>
        <br />
        <h4>Thanks for participating. We'll be back 02/20.</h4>
    </div>
</div>