::selection {
    background-color: #aac;
}

:root {
    --background-primary: #eeeff5;
    --background-secondary: #fff;
    --background-tertiary: #fff;
    --background-accent-primary: #bbb;
    --background-accent-secondary: #bbb;
    --text-primary: #000;
    --link-hover: rgb(81, 11, 255);
}

html.dark {
    --background-primary: rgb(23, 23, 23);
    --background-secondary: rgb(36, 36, 36);
    --background-tertiary: rgb(46, 46, 46);

    --background-accent-primary: rgb(12, 12, 12);
    --background-accent-secondary: rgb(23, 23, 23);

    --text-primary: rgb(227, 227, 227);
    --link-hover: rgb(181, 181, 255);
}

html {
    font-size: 14px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    position: relative;
    min-height: 100%;
    scroll-behavior: smooth;
}

body {
    background-color: var(--background-primary);
    margin-bottom: 60px;
}

nav {
    background-color: var(--background-secondary);
    height: 50px;
    line-height: 45px;
    position: relative;
    padding: 0 15px;
    z-index: 30;
}

nav .container {
    position: relative;
    margin-bottom: 0;
}

nav #links {
    display: none;
    flex-direction: column;
    align-items: center;
}

nav .links {
    flex-direction: column;
    min-width: 200px;
}

nav .links a {
    color: var(--text-primary);
    margin: 0;
    padding: 0.2rem 1rem;
}

nav .links a:hover {
    color: var(--link-hover);
}

nav .links button {
    height: 100%;
}

nav .links img {
    border-radius: 5px;
    height: 30px;
    margin-right: 10px;
}

.nav-link button {
    padding-left: 0;
}

nav #menu-button {
    background-color: inherit;
    border: solid 2px #88c;
    border-radius: 10px;
    color: #32f;
    float: right;
    padding: 0 24px;
    line-height: 35px;
    margin-top: 5px;
}

.nav-search {
    line-height: 30px;
    margin: 0 20px;
    width: 100%;
    flex: 1 1;
}

.nav-search > form {
    display: flex !important;
}

.nav-search > form > input {
    background-color: var(--background-primary);
}

.nav-search > form > .btn {
    flex: none;
}

.nav-search > form > .btn img {
    width: 20px;
    height: 20px;
    margin: 0;
    margin-top: -5px;
}

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    height: 100%;
    margin: 0 2px;
}

a.navbar-brand img {
    vertical-align: text-bottom;
    height: 28px;
}

.text-secondary {
    font-size: 1rem;
}

.scrollbar::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.scrollbar::-webkit-scrollbar-track {
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.1);
}

.scrollbar::-webkit-scrollbar-thumb {
    background-image: linear-gradient(45deg, #8e3bff, #fe82a6);
    border-radius: 10px;
    -webkit-box-shadow: rgba(0,0,0,.12) 0 3px 13px 1px;
}

a {
    transition-duration: 0.2s;
}

.clickable {
    cursor: pointer;
}

.hideable {
    display: none;
}

#account-dropdown-toggler {
    display: none;
}

.account-dropdown {
    color: var(--text-primary);
    display: block;
}

.fullscreen {
    position: absolute;
    top: 50px;
    bottom: 30px;
    left: 0;
    right: 0;
    z-index: 10;
}

.query {
    display: none;
    background-color: rgba(0, 0, 0, 0.5);
    bottom: 0 !important;
    top: 0;
    position: fixed;
}

.query > div {
    width: 60%;
    margin: auto;
}

.notifications {
    position: fixed;
    bottom: 20px;
    right: 5px;
    left: 5px;
    z-index: 10;
}

.hidden, .neoload {
    display: none;
}

.bg-contra {
    background-image: url("../img/contra_back.svg");
    background-size: cover;
}

.banner-notice {
    border-radius: 5px;
    color: #fff;
    line-height: 20px;
    margin: 0 10px;
    margin-top: 20px;
    padding: 10px 15px;
}

.banner-notice > p {
    margin: 0;
}

.banner-notice a {
    color: #fff;
    text-decoration: underline;
}

.lds-dual-ring {
    width: 80px;
    height: 80px;
    margin: 20px auto;
}

.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #ff6c97;
    border-color: #ff6c97 transparent #ff6c97 transparent;
    animation: lds-dual-ring 1.2s linear infinite;
}

@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes doubleswipe {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 200px;
    }
}

@keyframes doubleswipe {
    from {
        background-position-x: 0;
    }

    to {
        background-position-x: 200px;
    }
}

.c-btn-primary {
    background-image: url("../img/contra_back.svg");
    background-size: cover;
    border: 0;
    color: #fff;
    width: 100px;
}

.c-btn-primary:hover {
    color: #fff;
    -webkit-animation-name: doubleswipe;
    animation-name: doubleswipe;
}

#border-gradient {
    background-image: linear-gradient(var(--background-secondary), var(--background-primary));
    position: absolute;
    left: 0;
    right: 0;
    z-index: -1;
    height: 4px;
}

.container {
    max-width: 100%;
    padding: 0;
    margin-bottom: 60px;
}

.main-wrapper {
    flex-direction: column;
}

.main {
    flex: 1 1;
}

.extras {
    position: relative;
}

.extras .section-title {
    margin-bottom: 0;
}

.insight, .insight-horizontal {
    background-color: var(--background-secondary);
    overflow: auto !important;
    padding: 10px 15px !important;
}

.insight > section, .insight-horizontal > section {
    height: 100%;
    flex-direction: row;
}

.flex-big {
    flex: 3 1 !important;
}

.flex-small {
    flex: 1 1 !important;
}

.section-title {
    margin: 10px;
    margin-top: 20px;
}

.section-title h2 {
    color: var(--text-primary);
    font-size: 32px;
}

.filters {
    margin-top: 20px;
}

.filter-group {
    display: flex;
    margin: 10px 0;
    flex: 1 1;
}

.filter-group h5 {
    color: var(--text-primary);
    line-height: 35px;
    width: 80px;
}

.filter-group .btn {
    border-left: 0;
    border-radius: 0;
    margin: 0;
    flex: 1 1;
}

.filter-group .btn:first-of-type, .search input {
    border-left: 1px solid var(--info);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.filter-group .btn:last-of-type {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.search form {
    display: inline-flex;
    flex: 2 1;
}

.search input {
    border: none;
    padding-left: 10px;
    flex: 3 1;
}

.search .btn {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
    flex: 1 1;
}

section {
    display: flex;
    flex-direction: column;
}

.note-editor > div img, .card > div img {
    position: unset !important;
    transform: none !important;
}

a.card:hover {
    color: var(--text-primary);
    text-decoration: none;
}

.card {
    background-color: var(--background-tertiary);
    border: none;
    border-radius: 3px;
    box-shadow: -6px 6px 5px rgba(0, 0, 0, 0.1);
    color: var(--text-primary);
    flex: 2 1;
    min-height: 200px;
    margin: 4px 10px;
    padding: 25px;
    position: relative;
    overflow: hidden;
    transition-duration: 0.3s;
}

.story {
    padding: 0;
}

.story:hover, .story:focus {
    box-shadow: -10px 10px 5px var(--background-accent-primary);
    cursor: pointer;
    transform: translate(4px, -4px);
}

.story > div {
    width: 230px;
    height: 100%;
    padding: 15px;
}

.story > div > h2 {
    font-size: 24px;
}

.secondary-info {
    background-color: var(--background-secondary);
    border-radius: 5px;
    color: var(--text-primary);
    display: inline-block;
    padding: 5px 10px;
}

.secondary-info img {
    line-height: inherit;
    height: 30px;
}

.content-notice {
    background-color: var(--background-secondary);
    border-radius: 5px;
    color: var(--text-primary);
    font-size: 14px;
    padding: 5px 10px;
}

.content-notice-inline {
    display: inline-block;
    font-size: 10px;
    margin-left: 0.5rem;
    padding: 2px 4px;
}

.card-encapsulate .content-notice {
    background-color: rgba(255, 255, 255, 0.2);
    color: #fff;
}

.card .image-container {
    position: absolute;
    top: 0;
    left: 230px;
    bottom: 0;
    min-width: 100%;
    max-height: 100%;
}

.image-container > img {
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.image-container .secondary-info {
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.image-container .secondary-info p {
    margin: 0;
}

.card-big {
    flex: 3 1;
}

.card-cover > div {
    width: 300px;
}

.card-cover .image-container {
    left: 300px;
}

.card-encapsulate {
    color: #edeef3;
}

.card-encapsulate > div {
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
    z-index: 5;
    width: 230px;
    height: 100%;
}

.card-encapsulate .image-container {
    left: 0;
}

.card-grid {
    min-width: 300px;
    padding: 0 !important;
}

.card-grid > div {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 20px;
}

.card-grid > .image-container > img {
    width: 100%;
}

.card-search, .card-compact {
    min-height: 50px;
    padding: 20px;
}

.card-search > div {
    width: 50%;
}

.card-search .image-container {
    left: 60%;
    min-width: 50%;
}

.card-insight {
    padding: 0 !important;
    flex: none;
    width: 250px;
    min-height: 170px;
    margin: 5px 0;
    margin-right: 10px;
}

.card-insight:hover, .card-insight:focus {
    box-shadow: -8px 8px 5px var(--background-accent-secondary);
    cursor: pointer;
    transform: translate(2px, -2px);
}

.card-insight > div {
    padding: 15px;
    margin: 0;
    width: 100%;
    height: 100%;
}

.card-insight > div > h2 {
    display: inline-block;
    font-size: 16px;
}

.card-insight > div > p {
    font-size: 14px;
}

.card-profile > div {
    width: 100%;
}

.card-profile .pfp {
    border-radius: 20%;
    display: inline-block;
    margin-right: 5px;
    vertical-align: text-bottom;
    width: 30px;
}

.comment {
    box-shadow: none;
    padding: 0 !important;
}

.article {
    padding: 20px;
}

.article .image-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 150px;
    overflow: hidden;
}

.article > .content {
    margin-top: 150px;
    font-size: 18px;
}

.article-preview {
    flex: 1 1;
}

.article-preview .card {
    margin: 0;
    margin-bottom: 10px;
}

.article-preview .content {
    padding: 0.5rem !important;
}

form section div:last-of-type {
    margin-right: 0;
}

.toggle {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex: 1 1;
}

.toggle input {
    cursor: pointer;
    position: absolute;
    opacity: 0;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 25px;
    width: 25px;
    background-color: #eee;
}

.toggle:hover input ~ .checkmark {
    background-color: #ccc;
}

.toggle input:checked ~ .checkmark {
    background-color: #2196F3;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.toggle input:checked ~ .checkmark:after {
    display: block;
}

.toggle .checkmark:after {
    left: 10px;
    top: 5px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.social-links {
    display: inline-flex;
    flex: 1 1;
}

.social-links img {
    display: inline-block;
    width: 30px;
    height: auto;
    padding: 0.3rem;
    padding-left: 0;
    margin-right: 0.2rem;
}

.footer {
    border-top: 1px solid var(--background-secondary);
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    white-space: nowrap;
    line-height: 30px;
}

.footer .container {
    margin-bottom: 0;
}

.profile-dashboard {
    color: var(--text-primary);
    margin-top: 50px;
}

.profile-controls {
    display: flex;
    flex-direction: column;
}

.profile-controls .image-container {
    position: relative;
}

.profile-controls > div {
    width: 80%;
    margin: auto;
}

.profile-picture {
    width: 50%;
    margin: auto;
}

.profile-page {
    width: 95%;
    margin: auto;
    margin-top: 30px;
}

@media (min-width: 512px) {
    .notifications {
        position: fixed;
        bottom: 20px;
        right: 15px;
        left: unset;
        width: 400px;
        z-index: 10;
    }
    #border-gradient {
        height: 8px;
    }
    .container {
        max-width: 98%;
    }
    .card {
        border-radius: 5px;
        margin: 10px;
    }
    .story > div {
        padding: 20px;
    }
    .profile-controls {
        flex-direction: row;
    }
    .profile-controls > div {
        margin-left: 30px;
    }
    .profile-picture {
        width: 20rem;
    }
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
    nav #menu-button {
        display: none;
    }
    nav #links {
        position: absolute;
        display: inline-flex;
        flex-direction: row;
        left: 120px;
        right: 0;
    }
    nav .links {
        display: inline-flex;
        flex-direction: row;
        min-width: 0;
    }
    #account-dropdown-toggler {
        display: block;
    }
    .account-dropdown {
        background-color: var(--background-secondary);
        border-radius: 4px;
        box-shadow: -4px 4px 5px rgba(0, 0, 0, 0.3);
        display: none;
        padding: 10px 30px;
        position: absolute;
        top: 60px;
        right: 10px;
    }
    .hideable {
        display: inline-block;
    }
    .fullscreen {
        bottom: 60px;
    }
    .container {
        margin-bottom: 100px;
    }
    .section-title {
        margin-top: 40px;
    }
    section {
        flex-direction: row;
    }
    .story, .card-profile {
        min-height: 250px;
    }
    .flex-wrap {
        justify-content: center;
    }
    .flex-wrap .card {
        flex: none;
        width: 45%;
    }
    .card-compact {
        padding: 25px;
    }
    .card-login {
        flex-direction: row;
    }
    .card-login > form {
        width: 50%;
        margin-right: 20px;
    }
    .article .image-container {
        height: 200px;
    }
    .article > .content {
        padding: 1rem 2rem;
        margin-top: 200px;
    }
    .footer {
        line-height: 60px;
    }
    .profile-controls {
        flex-direction: column;
    }
    .profile-controls > div {
        margin: 0;
        width: 100%;
    }
    .profile-page {
        margin-left: 20px;
        margin-top: 0;
    }
}

@media (min-width: 1000px) {
    .filters {
        display: flex;
        flex-wrap: wrap;
    }
    .filter-group {
        flex: none;
        width: 50%;
    }
    .filter-group h5 {
        margin: 0 1rem;
        width: unset;
    }
    .filter-group:first-of-type h5 {
        margin-left: 0;
    }
    .filter-group:last-of-type h5 {
        margin-left: 0;
    }
    .search {
        width: 100%;
    }
    .main-wrapper {
        flex-direction: row;
    }
    .extras {
        width: 360px;
    }
    .extras section {
        flex-direction: column;
    }
    .extras > section {
        position: absolute;
        top: 88px;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .insight .card-insight {
        width: unset;
        min-height: unset;
        margin: 5px 0;
    }
    .flex-wrap .card {
        flex: none;
        width: 31%;
    }
    .card-login {
        width: 70%;
    }
    .card-login > form {
        margin-right: 40px;
    }
    .article .image-container {
        height: 300px;
    }
    .article > .content {
        margin-top: 300px;
    }
    .profile-page {
        margin-left: 40px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 90%;
    }
}

@media (min-width: 1400px) {
    .container {
        max-width: 1260px;
    }
    .filters {
        flex-wrap: nowrap;
    }
    .filter-group {
        flex: 1 1;
        width: unset;
    }
    .filter-group:last-of-type h5 {
        margin-left: 1rem;
    }
    .search {
        flex: 2 1;
    }
}
