@model OpenTalon.Models.Article

@{
    ViewData["Title"] = "Apply";
}

<div class="content">
    <div class="section-title">
        <h2>Submit an Article</h2>
    </div>
    <hr />
    <br />
    <form asp-action="Apply">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <section>
                <div>
                    <label class="control-label">MVLA Email ID (1000xxxxx)</label>
                    <input asp-for="AuthorId" class="form-control" placeholder="Ex: 100023457@mvla.net" />
                    <span asp-validation-for="AuthorId" class="text-danger"></span>
                </div>
                <div>
                    <label class="control-label">Author Name(s)</label>
                    <input asp-for="AuthorName" class="form-control" maxlength="50" placeholder="Your Name" />
                    <span asp-validation-for="AuthorName" class="text-danger"></span>
                </div>
                <div>
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" maxlength="40" placeholder="Article Title" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
            </section>
        </div>
        <div class="form-group">
            <label class="control-label">Thumbnail URL</label>
            <input asp-for="ThumbnailURL" class="form-control" placeholder="https://imgur.com/NcKtjUr.jpg" />
            <span asp-validation-for="ThumbnailURL" class="text-danger"></span>
            <p>Please provide an external URL to an image to use as a thumbnail.</p>
        </div>
        <div class="form-group">
            <label class="control-label">Article Tags</label>
            <input asp-for="SummaryShort" class="form-control" placeholder="e.g. News, Sports, Opinion" />
            <span asp-validation-for="SummaryShort" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label class="control-label">Summary</label>
            <input asp-for="SummaryLong" class="form-control" maxlength="60" placeholder="A short summary of your article about this length." />
            <span asp-validation-for="SummaryLong" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Content" class="control-label"></label>
            <textarea asp-for="Content" id="summernote"></textarea>
            <span asp-validation-for="Content" class="text-danger"></span>
        </div>
        <div class="form-group">
            <input type="submit" value="Submit Article" class="btn btn-primary" />
            <a href="~/">
                <input type="button" value="Cancel" class="btn btn-outline-dark" />
            </a>
            <br />
            <p>By submitting an article, you agree to our <a href="~/privacy">Terms of Service and Privacy Policy</a>.</p>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <partial name="_SummernoteScriptsPartial" />
}
