
@{
    ViewData["Title"] = "Not Found";
}

<section class="content">
    <div id="main">
        <div class="section-title">
            <h2>Submission Success</h2>
        </div>
        <section>
            <div class="card card-compact">
                <div>
                    <h2>Item successfully submitted.</h2>
                    <p>Congratulations! Your request has been successfully submitted and will be reviewed by our staff before being published.</p>
                    <a class="btn btn-outline-info" href="~/">Return to Homepage</a>
                </div>
            </div>
        </section>
    </div>
</section>