
@{
    ViewData["Title"] = "Not Found";
}

<section class="content">
    <div id="main">
        <div class="section-title">
            <h2>Item Not Found</h2>
        </div>
        <section>
            <div class="card card-compact">
                <div>
                    <h2>Whoops!</h2>
                    <p>Looks like we couldn't find the thing you wanted.</p>
                    <a class="btn btn-outline-info" href="~/">Return to Homepage</a>
                    <a class="btn btn-outline-info" href="~/apply">Submit an Article</a>
                    <a class="btn btn-outline-info" href="https://paypal.me">Donate</a>
                </div>
            </div>
        </section>
    </div>
</section>