@{
    ViewData["Title"] = "Privacy";
}

<div class="content">
    <div class="section-title">
        <h2>Privacy Policy</h2>
    </div>
    <section>
        <div class="card card-big">
            <div>
                <h2>Data We Take</h2>
                <p>ApplicationDb and its affiliates monitor visitation statistics on this site. However, no information is sent that could potentially identify the end user. Only anonymized history is processed by ApplicationDb and its affiliates to better improve our services.</p>
                <h2>Licensing</h2>
                <p>By posting your literary work on this site, you agree to let our team modify and publish it on our site, or remove it without discretion. Your work cannot be unpublished or modified without contacting us.</p>
            </div>
        </div>
        <div class="card card-encapsulate">
            <span class="image-container"><img src="../img/img02.png" /></span>
            <div>
                <h2>Terms of Service</h2>
                <p>By accessing this site, you agree that anonymized info and statistics may be sent to help us improve our services. By using this site, you agree that any published work is not representative of our views.</p>
            </div>
        </div>
    </section>
    <div class="section-title">
        <h2>Info in Submitted Articles</h2>
    </div>
    <section>
        <div class="card card-encapsulate">
            <span class="image-container"><img src="../img/img04.png" /></span>
            <div>
                <h2>Personal Info</h2>
                <p>Submitted articles may be made public. Any personal info about anyone other than the author will be removed beforehand.</p>
            </div>
        </div>
        <div class="card card-big">
            <div>
                <h2>Submitted Articles</h2>
                <p>Users may submit their own entries of writing to ApplicationDb, where it will be reviewed for appropriateness and potentially made publically accessible on this site. To submit an entry, a user must provide their name and MVLA email address, which will be logged for administrative purposes. A confirmation email will also be sent to the email address to prevent identity appropriation. Submitted articles may be modified without notice. We believe in spreading ideas, including ones that differ from our own, but we do strive to only approve quality writing and non-offensive content.</p>
                <h2>Comments</h2>
                <p>Users may also submit comments to individual articles. These are also reviewed before being made public by our administrative team. Any information about person(s) other than the author of the comment will be removed.</p>
            </div>
        </div>
    </section>
</div>