<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="description" content="Contra encourages community discussion contribution and debate." />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Contra</title>
    <link rel="stylesheet" href="~/lib/shoestring/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/admin.css" />
</head>
<body>
    <header>
        <nav id="nav">
            <a class="navbar-brand" href="~/"><img src="~/img/contra.png" alt="Home Button" /></a>
            <button id="menu-button" onclick="showMenu()">Menu</button>
            <div id="links">
                <div class="links nav-search search">
                    <form asp-controller="Home" asp-action="Search">
                        <input name="filter" type="text" title="Search articles" placeholder="Search articles" />
                        <button class="btn c-btn-primary animated" type="submit"><img src="~/img/search.png" /></button>
                    </form>
                </div>
                <div class="links float-right">
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>
    </header>

    <div class="fullscreen">
        <div class="dashboard-controls">
            <h3 class="dashboard-header">Site</h3>
            <a class="nav-link" href="~/admin">🏡 <span class="hideable">Home</span></a>
            <a class="nav-link" href="~/articles/all">📃 <span class="hideable">Articles</span></a>
            <a class="nav-link" href="~/comments/all">💬 <span class="hideable">Comments</span></a>
            <a class="nav-link" href="~/images/all">🖼 <span class="hideable">Images</span></a>
            <a class="nav-link" href="~/tickets/all">❔ <span class="hideable">Tickets</span></a>
            <h3 class="dashboard-header">Approvals</h3>
            <a class="nav-link" href="~/articles/submitted">☑ <span class="hideable">Articles</span></a>
            <a class="nav-link" href="~/comments/submitted">✅ <span class="hideable">Comments</span></a>
            @if (User.IsInRole("Administrator"))
            {
                <h3 class="dashboard-header">Users</h3>
                <a class="nav-link" href="~/roles/all">🎟 <span class="hideable">Roles</span></a>
                <a class="nav-link" href="~/users/staff">👩‍💼 <span class="hideable">Staff</span></a>
                <a class="nav-link" href="~/users/all">🙋‍ <span class="hideable">Users</span></a>
            }
        </div>
        <div class="dashboard-content">
            @RenderBody()
        </div>
    </div>

    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/admin.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
