@model Contra.Models.Article

@using Microsoft.AspNetCore.Identity
@using Contra.Areas.Identity.Data
@inject SignInManager<ContraUser> SignInManager
@inject UserManager<ContraUser> UserManager

<div class="card card-compact">
    @if (User.Identity.IsAuthenticated)
    {
        <form asp-controller="Home" asp-action="Comment">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" name="PostId" value="@Model.Id" />
            <div class="form-group">
                <h4><b>Posting as: @UserManager.GetUserAsync(User).Result.Name</b></h4>
            </div>
            <div class="form-group">
                <input asp-for="Content" class="form-control" autocomplete="off" value="" maxlength="512" />
                <span asp-validation-for="Content" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-primary">Submit Comment</button>
                @if (User.IsInRole("Staff"))
                {
                    <span class="secondary-info d-inline-block"><img src="~/img/supericon.png" alt="Superuser" /> - Your comment will be published immediately.</span>
                }
            </div>
        </form>
    }
    else
    {
        <h2>Not Signed In</h2>
        <br />
        <div>
            <p>Register or login to an account to comment.</p>
            <br />
            <section>
                <a asp-area="Identity" asp-page="/Account/Register" class="btn btn-info w-50 flex-fill mr-3">Register</a>
                <a asp-area="Identity" asp-page="/Account/Login" class="btn btn-outline-info w-50 flex-fill">Login</a>
            </section>
        </div>
    }
</div>