@using Microsoft.AspNetCore.Identity
@using Contra.Areas.Identity.Data
@inject SignInManager<ContraUser> SignInManager
@inject UserManager<ContraUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <a class="nav-link" href="~/submit" title="Create post">Create Post</a>
    <a class="nav-link clickable" id="account-dropdown-toggler" onclick="toggleAccountDropdown()" title="Show options">
        <img src="@UserManager.GetUserAsync(User).Result.ProfilePictureURL" alt="User Profile Picture" />
        @UserManager.GetUserAsync(User).Result.Name  ▾
    </a>
    <div class="account-dropdown" id="account-dropdown">
        @if (User.IsInRole("Staff"))
        { <a class="nav-link" href="~/admin" title="Admin Dashboard">⚡ Admin</a> }
        <a class="nav-link" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage your profile">Your Profile</a>
        <a class="nav-link" href="/Identity/Account/Logout" title="Log out">Logout</a>
    </div>
}
else
{
    <a class="nav-link" href="~/submit">Create Post</a>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
}
